<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="icon" type="image/png" href="../static/img/ai.png">
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-yuhu sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('dashboard') }}">
                <div class="sidebar-brand-icon rotate-n-0">
                    <img src="../static/img/logokai_main.png" alt="gambar logo">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Reports Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports"
                    aria-expanded="true" aria-controls="collapseReports">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Laporan</span>
                </a>
                <div id="collapseReports" class="collapse" aria-labelledby="headingReports"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Laporan Trafik :</h6>
                        <a class="collapse-item" href="{{ url_for('databarchar') }}">Trafik Grafik</a>
                        <a class="collapse-item" href="{{ url_for('datahistori') }}">Histori</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse data crew -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Data Crew</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Setting Data:</h6>
                        <a class="collapse-item" href="{{ url_for('dataadmin') }}">Data Admin</a>
                        <a class="collapse-item" href="{{ url_for('datasecurity') }}">Data Security</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="../static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ url_for('logout') }}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">AI DROPOFF ZONE</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Pengaturan:</div>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#timerModal"
                                                style="cursor: pointer;">Atur Waktu</a>
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <br>
                                    <form id="videoForm" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col">
                                                <h3 for="videobutton">Mulai video</h3>
                                                <div class="btn-group-horizontal">
                                                    <button type="reset" id="resetButton"
                                                        class="btn btn-danger">Reset</button>
                                                    <button type="button" id="toggleButton" class="btn btn-secondary"
                                                        disabled>Pause Video</button>
                                                    <button type="submit" class="btn btn-primary">Start Video</button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group" id="ipInput" style="display: none;">
                                                    <h3 for="videoSource">CCTV URL</h3>
                                                    <input type="text" class="form-control" id="videoSourceInput"
                                                        name="videoSource" placeholder="http://.. atau rtsp://..">
                                                </div>
                                                <div class="form-group" id="fileInput" style="display: none;">
                                                    <h3 for="videoFile">Upload Video File</h3>
                                                    <input type="file" class="form-control-file" id="videoFile"
                                                        name="videoFile">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <h3 for="videoSource">Select Video Source</h3>
                                                    <select class="form-control" id="videoType">
                                                        <option value="" disabled selected>Pilih salah satu dari
                                                            sumber video</option>
                                                        <option value="ip">CCTV URL</option>
                                                        <option value="file">Upload Video</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <img id="videoStream" src="../static/img/ukuranvi.png" class="img-fluid"
                                                alt="Video Stream">
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Adjust Zone</h3>
                                            <form id="zoneForm">
                                                <div class="form-group">
                                                    <label for="x1">X1</label>
                                                    <input type="range" class="slider" id="x1" name="x1" min="0"
                                                        max="800" value="440">
                                                </div>
                                                <div class="form-group">
                                                    <label for="y1">Y1</label>
                                                    <input type="range" class="slider" id="y1" name="y1" min="0"
                                                        max="600" value="290">
                                                </div>
                                                <div class="form-group">
                                                    <label for="x2">X2</label>
                                                    <input type="range" class="slider" id="x2" name="x2" min="0"
                                                        max="800" value="490">
                                                </div>
                                                <div class="form-group">
                                                    <label for="y2">Y2</label>
                                                    <input type="range" class="slider" id="y2" name="y2" min="0"
                                                        max="600" value="300">
                                                </div>
                                                <div class="form-group">
                                                    <label for="x3">X3</label>
                                                    <input type="range" class="slider" id="x3" name="x3" min="0"
                                                        max="800" value="410">
                                                </div>
                                                <div class="form-group">
                                                    <label for="y3">Y3</label>
                                                    <input type="range" class="slider" id="y3" name="y3" min="0"
                                                        max="600" value="380">
                                                </div>
                                                <div class="form-group">
                                                    <label for="x4">X4</label>
                                                    <input type="range" class="slider" id="x4" name="x4" min="0"
                                                        max="800" value="330">
                                                </div>
                                                <div class="form-group">
                                                    <label for="y4">Y4</label>
                                                    <input type="range" class="slider" id="y4" name="y4" min="0"
                                                        max="600" value="360">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Nyoba dong 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yakin nih mau Keluar ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Trimakasih telah menjalankan tugasmu hari ini .</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{{ url_for('index') }}">Yakin</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="timerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="timerModalLabel">Set Timer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="waktu_alarm">Timer Value (seconds)</label>
                            <input type="number" class="form-control" id="waktu_alarm" name="waktu_alarm"
                                value="{{ current_waktu_alarm }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>
    <script src="../static/js/vidmain.js"></script>
</body>

</html>